<div class="container">
	<!-- begin header -->
	<div class="twelvecol">
		<div class="header_image block center">
			<img src="images/logo.png" alt="DebateTab logo, Advancing academic competition"/>
		</div>
	</div>
	<!-- end header -->


	<div class="row maincontent">

		<!-- begin left nav-->
		<div class="twocol block">
			<ul id="main_menu" class="menu">
				<li class="menu_item" id="menu_rounds">Rounds</li>
				<li class="menu_item" id="menu_teams">Teams</li>
				<li class="menu_item" id="menu_judges">Judges</li>
				<li class="menu_item" id="menu_rooms">Rooms</li>
				<li class="menu_item" id="menu_schools">Schools</li>
				<li class="menu_item" id="menu_divisions">Divisions</li>
				<li class="menu_item" id="menu_settings">Settings</li>
				<li class="menu_item" id="menu_debug">Debug</li>
			</ul>
		</div>
		<!-- end left nav-->

		<!-- begin main content areas. Only one is shown at a time.-->
		<div id="rounds_container" class="main_container hidden tencol block last">Rounds</div>
		<div id="teams_container" class="main_container hidden tencol block last">Teams</div>
		<div id="judges_container" class="main_container hidden tencol block last">Judges</div>
		<div id="rooms_container" class="main_container hidden tencol block last">Rooms</div>
		<div id="schools_container" class="main_container hidden tencol block last">Schools</div>
		<div id="divisions_container" class="main_container hidden tencol block last">Divisions</div>
		<div id="settings_container" class="main_container hidden tencol block last">Settings</div>
		<div id="debug_container" class="main_container hidden tencol block last">Debug</div>
		


	</div>
</div>