<div class="container">
	<!-- begin header -->
	<div class="twelvecol">
		<div class="header_image block center">
			<img src="/images/logo.png" alt="DebateTab logo, Advancing academic competition"/>
		</div>
	</div>
	<!-- end header -->

	<div id="tournament_id" style="display:none;">
	<% if(locals.tournament_id){ %>
		<%= tournament_id %>
	<% } %>
	</div>
	<div class="row maincontent">

		<!-- begin left nav-->
		<div class="twocol block">
			<ul id="main_menu" class="menu">
				<li class="menu_item" id="menu_rounds">Rounds</li>
				<li class="menu_item" id="menu_teams">Teams</li>
				<li class="menu_item" id="menu_judges">Judges</li>
				<li class="menu_item" id="menu_rooms">Rooms</li>
				<li class="menu_item" id="menu_schools">Schools</li>
				<li class="menu_item" id="menu_divisions">Divisions</li>
				<li class="menu_item" id="menu_settings">Setup</li>
				<li class="menu_item" id="menu_debug">Debug</li>
			</ul>
		</div>
		<!-- end left nav-->

		<!-- begin main content areas. Only one is shown at a time.-->
		<div id="rounds_container" class="main_container hidden tencol block last">
			<div id="rounds" class="subcontainer">
				
				<div class="top_buttons">
					<span>Division: </span><select id="rounds_division_select">
					</select>
					<span>Round Number: </span><select id="rounds_round_number_select">
					</select>
					Remaining ballots: <span id="remaining_ballots"></span>
				</div>
				<div class="top_buttons">
					<button id="add_round_button">Add Debate</button>
					<button id="pair_round_button">Pair Round</button>
					<button id="print_ballots_button">Print Ballots</button>
					<button id="print_pairings_button">Print Pairings</button>
					<button id="print_boxes">Print Boxes</button>

				</div>
					
				<div id="pairing_indicator">
					Pairing Round. Please wait.
					<img class="inline_block" src="/images/indicator.gif" />
				</div>
				<div class="table_container">
					<table id="rounds_table" class="large_table">
					</table>
				</div>
				<div class="bottom_buttons">
					<button id="send_sms">Send SMS</button> 
					<button id="validate_round">Validate</button> 
				</div>
				


				
			</div>

			<div id="edit_round_dialog" class="dialog edit_round_dialog">

					<div id="edit_round_top_div">Judge: <select id="edit_round_judge"></select>
					 Room: <select id="edit_round_room"></select></div>
					
					<div id="edit_round_right" class="edit_round_team">
						<label for="left_team_select">Affirmative</label><select id="left_team_select"></select>
						<div id="left_team_container">
						</div>
					</div>
					<div id="edit_round_right" class="edit_round_team">
						<label for="right_team_select">Negative</label><select id="right_team_select"></select>
						<div id="right_team_container">
						</div>
					</div>
					<select id="edit_round_result">
						<option value="-1"></option>
						<option value="0">Aff Win Neg Loss</option> 
						<option value="1">Aff BYE Neg Forfeit</option> 
						<option value="2">Neg Win Aff Loss</option> 
						<option value="3">Neg BYE Aff Forfeit</option> 
						<option value="4">Double Win</option> 
						<option value="5">Double Loss</option> 
						<option value="6">Double BYE</option> 
						<option value="7">Double Forfeit</option> 
					</select>

					<label id="lpw_label" for="edit_round_lpw">Low point win: </label><input type="checkbox" id="edit_round_lpw" /> 
					<div id="selected_winner"></div>
					<span id="edit_round_error"></span>
					<div class="bottom_buttons">
						<button id="edit_round_save">Save</button>
						<button id="edit_round_cancel">Cancel</button>
						<button id="edit_round_swap">Swap Sides</button>
						
					</div>
				</div>
		</div>


		<div id="teams_container" class="main_container hidden tencol block last">
			<div id="teams" class="subcontainer">
			<div class="top_buttons">
			<button id="add_team">Add Team</button>
			<button id="print_teams">Print Teams</button>
			<button id="print_speakers">Print Speakers</button>
			</div>
				<div id="team_form" class="input_form dialog">
					
					<input id="newteam_id" type="hidden" value=""/>
					<label>
					Division: <br />
					<select id="newteam_division">
					</select>
					</label> 
					School: <br />
					<select id="newteam_school">
					</select>
					</label> <br />
					Competitors:
					<div id="newteam_competitors">
							
					</div>				
					<label>
					Team code: <br />
					<input id="newteam_name" />
					</label>
					
					<label>
					Stop scheduling: <br />
					<input id="newteam_stop_scheduling" type="checkbox" />
					</label>

				
				</div>	
						
				<span>Division: </span><select id="teams_division_select"></select>
				
				<div class="table_container">
				
				<table id="teams_table">
				</table>		
				</div>	
			</div>
		</div>

		<div id="judges_container" class="main_container hidden tencol block last">
			<div id="judges" class="subcontainer">
				<div class="top_buttons">
					<button id="add_judge">Add Judge</button>
				</div>
				<div id="judge_form" class="input_form dialog">
					<div class="edit_model_box">
					<input id="newjudge_id" type="hidden" value=""/>
					<label>
					Judge Name: <br />
					<input id="new_judge_name" type="text"/>
					</label>
					<label>
					School Affiliation <br />
					<select id="newjudge_school">
					</select>
					<ul id="newjudge_divisions">
					</ul>
					</label>
					<label>
					Stop scheduling: <br />
					<input id="newjudge_stop_scheduling" type="checkbox" />
					</label>
				
					</div>
				</div>
				<div class="table_container">
				<table id="judges_table">
				</table>
				</div>

			</div>
		</div>
		<div id="rooms_container" class="main_container hidden tencol block last">
			<div id="rooms" class="subcontainer">
		
				<div class="top_buttons">
				<button id="add_room">Add Room</button>
				</div>
				<div id="room_form" class="input_form dialog">
					<input id="newroom_id" type="hidden" value=""/>
					<label>
					Room Name: <br />
					<input id="newroom_name" type="text"/>
					</label> 
					<label>
					Division: <br />
					<select id="newroom_division" type="text">
					</select>
					</label> 
					<label>
					Stop scheduling: <br />
					<input id="newroom_stop_scheduling" type="checkbox" />
					</label>
					<button class="save_button" id="add_room_button">Save</button>
				</div>
				<div class="table_container">
				<table id="rooms_table">
				</table>
				</div>
						
			</div>
		</div>
		<div id="schools_container" class="main_container hidden tencol block last">
			<div id="schools" class="subcontainer">
				
				<div id="school_form" class="input_form">
					<div class="edit_model_overlay" id="school_form_overlay">
						<div class="edit_model_box">
						<input id="newschool_id" type="hidden" value=""/>
						<label>
						School Name: <br />
						<input id="newschool_name" />
						</label> 
						<button class="save_button" id="add_school_button">Save</button>

						</div>
					</div>
				</div>
				<div class="table_container">
				<table id="schools_table">
				</table>
				</div>
				
			</div>
		</div>
		<div id="divisions_container" class="main_container hidden tencol block last">
			<div id="divisions" class="subcontainer">
			<div class="top_buttons">
			<button id="add_division">Add Division</button>
			</div>
			
			

			<div id="division_form" class="input_form dialog">
			
			<input id="newdiv_id" type="hidden" value=""/>
				<label>
					Division Name: <br />
					<input id="newdiv_division_name" type="text"/>
				</label> 
				<label>
					Competitors per team: <br />
					<input id="newdiv_comp_per_team" type="text"/>
				</label> 
				<label>
					Flighted rounds: <br />
					<input id="newdiv_flighted_rounds" class="checkbox" type="checkbox" name="flighted" />
				</label> 
				<label>
					Combine speaker points (Public Forum): <br />
					<input id="newdiv_combine_speaks" class="checkbox" type="checkbox" />
				</label> 
				<label>
					Break to: <br />
					<select id="newdiv_break_to">
						<option value="32">Triple Octofinals</option>
						<option value="16">Double Octofinals</option>
						<option value="8">Octofinals</option>
						<option selected="yes" value="4">Quarterfinals</option>
						<option value="2">Semifinals</option>
						<option value="1">Finals</option>
					</select> 
				</label> 

				<label>
					Number of prelims: <br />
					<input id="newdiv_prelims" type="text" value="4"/>
				</label> 
				<label>
					Ballot Type: <br />
					<select id="newdiv_ballot_type">
					<option value="TFA_CX">Cross Examination</option>
					<option value="TFA_LD">Lincoln Douglas</option>
					<option value="TFA_PF">Public Forum</option>
					</select>
				</label> 
				

			
			</div>

			

				<table id="divisions_table">
				</table>
			
				<br />
				
			</div>
		</div>
		<div id="settings_container" class="main_container hidden tencol block last">Setup</div>
		<div id="debug_container" class="main_container hidden tencol block last">
				<div id="debug" class="subcontainer">
					<div id="debug_tournament_id"></div>
					<button id="toggle_debug">Toggle debug</button><br />
					<h1>Pairing</h1>
					
					<button id="pair_print_pairings">Print all pairings</button>

					<h1>LocalStorage </h1>
					<button class="save_button" id="save_state">Save state</button> <br />
					<button id="clear_storage">Clear Storage</button>  <br />
				
					<h1>SMS</h1>
					
					Phone Number: <br /><input type="text" id="debug_sms_input_phone"/><br />
					Message: <br /> <textarea id="debug_sms_input_message"></textarea><br />
					<button id="single_text">Send Single Text</button> <br /><br />
				
					<h1>Backup Data</h1>
					<button id="export_data">Export tournament data</button> <br />
					<button id="import_data">Import native tournament data</button><br />
					<button id="import_joy_data">Import Joy tournament data</button><br />
					<textarea id="import_box"></textarea>
					
				</div>
		</div>
		


	</div>
</div>

<div id="message_dialog" class="dialog">
	<div id="message_dialog_message"></div>
</div>
<div id="warnings_dialog" class="dialog">
	<div id="warnings_dialog_message"></div>
</div>

<div id="sms_confirm" class="dialog">
	<div id="sms_confirm_message"></div>
	Start time: <input type="text" id="text_pairings_start" />
</div>

<div id="ballot_css" style="display: none;">
body{
margin-left:5%;
margin-right:5%;
text-align: center;
}

#dTabLogo{
}

#ballotLabel{
	display:inline-block;
	font-weight:bold;
	
	
}

#roundNumber{
display:inline;
width:50px;
font-size:1.0em;
margin-right:60px;

}

#room{
display:inline;
width:50px;
font-size:1.0em;
margin-right:60px;
}

#flip{
display:inline;
font-size:1em;
font-weight:bold;
}

#judgeName{

float:right;
font-size:26px;
}



#instr{
height:1em;

}


#affPointsLabel{
margin-left:255px;
display:inline;
}
#affRanksLabel{
margin-left:0.7%;
display:inline;
}
#negPointsLabel{
margin-left:300px;
display:inline;
}
#negRanksLabel{
margin-left:0.7%;
display:inline;
}

#affPointsLabelLD{
margin-left:305px;
display:inline;
}
#negPointsLabelLD{
margin-left:333px;
display:inline;
}


#firstAff{
	display:inline;
	margin-right:50px;
}
#firstNeg{
	display:inline;
}

#secondAff{
	display:inline;
	margin-right:45px;
}
#secondNeg{
	display:inline;
}

#instr2{
	font-size:0.8em;
}

#instr3{
	font-weight:bold;
	text-decoration:underline;
}

#decision{
	display:block;
	text-align:center;
	margin-top:500px;

}

#circleOne{
	display:inline;
	margin-left:400px;


}

#tCodeLabel{
	display:inline;
	margin-left:145px;

}
#sigArea{
	display:inline;
	margin-right:250px;

}
#schoolAffiliation{
	display:inline;

}
#sigLabel{
	float:left;			
	width:130px;
	margin-right:360px;
}

#schoolAffLabel{
	/*using display:inline was causing probems with page break*/
	page-break-after:always;
	page-break-inside: avoid;
}

.pairing_container{
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	margin-bottom: 20px
}

td{
	padding: 5px 10px 0px 10px;

}
.flight_title{
	display: inline-block;
}

#pairing_division_name{
	font-size: 40px;
}

#pairing_round_number{
	font-size: 20px;
}

.table_header{
	font-weight: bold;
}

.result_letter{
	font-size: 16px
}

</div>
