<div class="container_12">
	<div id="header" class="grid_12"><!-- begin header -->
		<div class="header_image center">
			<img src="images/logo.png" alt="DebateTab logo"/>
		</div>
	</div><!-- end header -->
</div>