<div class="container-fluid">
	<!-- begin header -->
	<div class="row-fluid">
		<div class="span12">
			<div class="header_image block center">
				<img src="/images/logo.png" alt="DebateTab logo, Advancing academic competition"/>
			</div>
		</div>
		
		<!-- end header -->

		<div id="tournament_id" style="display:none;">
		<% if(locals.tournament_id){ %>
			<%= tournament_id %>
		<% } %>
		</div>
	</div>
	<div class="row-fluid maincontent">

		<!-- begin left nav-->
		<div class="span2 block menu_container">
			<div id="main_menu" class="menu">
				<div class="menu_item" id="menu_rounds">Rounds</div>
				<div class="menu_item" id="menu_teams">Teams</div>
				<div class="menu_item" id="menu_judges">Judges</div>
				<div class="menu_item" id="menu_rooms">Rooms</div>
				<div class="menu_item" id="menu_schools">Schools</div>
				<div class="menu_item" id="menu_divisions">Divisions</div>
				<div class="menu_item" id="menu_settings">Setup</div>
				<div class="menu_item" id="menu_debug">Debug</div>
			</div>
		</div>
		<!-- end left nav-->

		<!-- begin main content areas. Only one is shown at a time.-->
		<div id="rounds_container" class="main_container hidden span9 block">
			<div id="rounds" class="subcontainer">
				
				
				<div class="top_buttons">
					<div class="btn-group">
						<a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-align-justify"></i> Pairing
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<li><a id="add_round_button"><i class="icon-plus-sign"></i> Add Debate</a></li>
							<li><a id="pair_round_button"><i class="icon-play"></i> Pair Round</a></li>
							<li><a id="pair_judge_button"><i class="icon-play"></i> Pair Judges</a></li>
							<li><a id="pair_room_button"><i class="icon-play"></i> Pair Rooms</a></li>
							<li><a id="validate_round"><i class="icon-ok"></i> Validate Round</a> </li>
							<li><a id="powermatch_report"><i class="icon-list-alt"></i> View Powermatch Report</a> </li>
						</ul>
					</div>

					<div class="btn-group">
						<a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-print"></i> Printouts
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<li><a id="print_ballots_button">Print Ballots</a></li>
							<li><a id="print_pairings_button">Print Pairings</a></li>
							<li><a id="print_boxes">Print Boxes</a></li>
						</ul>
					</div>

					<div class="btn-group">
						<a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-share"></i> Publish
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<li> <a id="send_sms"><i class="icon-envelope"></i> Send SMS</a> </li>
							
						</ul>
					</div>
				</div>
					
				<div class="top_buttons">
					<span>Division: </span><select id="rounds_division_select">
					</select>
					<span>Round Number: </span><select id="rounds_round_number_select">
					</select>
					Remaining ballots: <span id="remaining_ballots"></span>
				</div>

				<div id="pairing_indicator">
					Pairing Round. Please wait.
					<img class="inline_block" src="/images/indicator.gif" alt="Please wait spinning image" />
				</div>
				<div class="table_container">
					<table id="rounds_table" class="table table-striped large_table">
					</table>
				</div>

			</div>

			<div id="round_form" class="dialog edit_round_dialog">

					<div id="edit_round_top_div">Judge: <select id="edit_round_judge"></select>
					 Room: <select id="edit_round_room"></select></div>
					
					<div id="edit_round_right" class="edit_round_team">
						<label for="left_team_select">Affirmative</label><select id="left_team_select"></select>
						<div id="left_team_container">
						</div>
					</div>
					<div id="edit_round_left" class="edit_round_team">
						<label for="right_team_select">Negative</label><select id="right_team_select"></select>
						<div id="right_team_container">
						</div>
					</div>
					<select id="edit_round_result">
						<option value="-1"></option>
						<option value="0">Aff Win Neg Loss</option> 
						<option value="1">Aff BYE Neg Forfeit</option> 
						<option value="2">Neg Win Aff Loss</option> 
						<option value="3">Neg BYE Aff Forfeit</option> 
						<option value="4">Double Win</option> 
						<option value="5">Double Loss</option> 
						<option value="6">Double BYE</option> 
						<option value="7">Double Forfeit</option> 
					</select>

					<label id="lpw_label" for="edit_round_lpw">Low point win: </label><input type="checkbox" id="edit_round_lpw" /> 
					<div id="selected_winner"></div>
					<span id="edit_round_error"></span>

				</div>
		</div>


		<div id="teams_container" class="main_container hidden span9 block last">
			<div id="teams" class="subcontainer">
			<div class="top_buttons">
			<button class="btn btn-large" id="add_team"><i class="icon-plus-sign"></i> Add Team</button>
			<button class="btn btn-large" id="print_teams"><i class="icon-print"></i> Print Teams</button>
			<button class="btn btn-large" id="print_speakers"><i class="icon-print"></i> Print Speakers</button>
			</div>
				<div id="team_form" class="input_form dialog">
					
					<input id="newteam_id" type="hidden" value=""/>
					<label>
					Division: <br />
					<select id="newteam_division">
					</select>
					</label> 
					<label>
					School: <br />
					<select id="newteam_school">
					</select>
					</label> <br />
					Competitors:
					<div id="newteam_competitors">
							
					</div>				
					<label>
					Team code: <br />
					<input id="newteam_name" />
					</label>
					
					<label>
					Stop scheduling: <br />
					<input id="newteam_stop_scheduling" type="checkbox" />
					</label>

				
				</div>	
						
				<span>Division: </span><select id="teams_division_select"></select>
				<div id="team_stats"><span> Total Teams: </span> <div id="teams_total"></div></div>
				<div class="table_container">
				
				<table id="teams_table" class="large_table table table-striped">
				</table>		
				</div>	
			</div>
		</div>

		<div id="judges_container" class="main_container hidden span9 block">
			<div id="judges" class="subcontainer">
				<div class="top_buttons">
					<button class="btn btn-large" id="add_judge"><i class="icon-plus-sign"></i> Add Judge</button>
				</div>
				<div id="judge_form" class="input_form dialog">
					<input id="newjudge_id" type="hidden" value=""/>
					<label>
					Judge Name: <br />
					<input id="new_judge_name" type="text"/>
					</label>
					<label>
					School Affiliation <br />
					<select id="newjudge_school">

					</select>
					</label>
					<ul id="newjudge_divisions">
					</ul>
					
					<label>
					Stop scheduling: <br />
					<input id="newjudge_stop_scheduling" type="checkbox" />
					</label>
				
				</div>
				<div class="table_container">
				<table id="judges_table" class="table table-striped">
				</table>
				</div>

			</div>
		</div>
		<div id="rooms_container" class="main_container hidden span9 block">
			<div id="rooms" class="subcontainer">
		
				<div class="top_buttons">
				<button class="btn btn-large" id="add_room"><i class="icon-plus-sign"></i> Add Room</button>
				</div>
				<div id="room_form" class="input_form dialog">
					<input id="newroom_id" type="hidden" value=""/>
					<label>
					Room Name: <br />
					<input id="newroom_name" type="text"/>
					</label> 
					<label>
					Division: <br />
					<select id="newroom_division">
					</select>
					</label> 
					<label>
					Stop scheduling: <br />
					<input id="newroom_stop_scheduling" type="checkbox" />
					</label>
				</div>
				<div class="table_container">
				<table id="rooms_table" class="table table-striped">
				</table>
				</div>
						
			</div>
		</div>
		<div id="schools_container" class="main_container hidden span9 block">
			<div id="schools" class="subcontainer">
				<div class="top_buttons"><button class="btn btn-large" id="add_school"><i class="icon-plus-sign"></i> Add School</button></div>
				<div id="school_form" class="input_form dialog">
					
					<input id="newschool_id" type="hidden" value=""/>
					<label>
					School Name: <br />
					<input id="newschool_name" />
					</label> 

				</div>
					
				<div class="table_container">
				<table id="schools_table" class="table table-striped">
				</table>
				</div>
				
			</div>
		</div>
		<div id="divisions_container" class="main_container hidden span9 block">
			<div id="divisions" class="subcontainer">
			<div class="top_buttons">
			<a class="btn btn-large" id="add_division"><i class="icon-plus-sign"></i> Add Division </a>
		</div>
			
			

			<div id="division_form" class="input_form dialog">
			
			<input id="newdiv_id" type="hidden" value=""/>
				<label>
					Division Name: <br />
					<input id="newdiv_division_name" type="text"/>
				</label> 
				<label>
					Competitors per team: <br />
					<input id="newdiv_comp_per_team" type="text"/>
				</label> 
				<label>
					Flighted rounds: <br />
					<input id="newdiv_flighted_rounds" class="checkbox" type="checkbox" name="flighted" />
				</label> 
				<label>
					Combine speaker points (Public Forum): <br />
					<input id="newdiv_combine_speaks" class="checkbox" type="checkbox" />
				</label> 
				<label>
					Break to: <br />
					<select id="newdiv_break_to">
						<option value="32">Triple Octofinals</option>
						<option value="16">Double Octofinals</option>
						<option value="8">Octofinals</option>
						<option value="4">Quarterfinals</option>
						<option value="2">Semifinals</option>
						<option value="1">Finals</option>
					</select> 
				</label> 

				<label>
					Number of prelims: <br />
					<input id="newdiv_prelims" type="text" value="4"/>
				</label> 
				<label>
					Ballot Type: <br />
					<select id="newdiv_ballot_type">
					<option value="TFA_CX">Cross Examination</option>
					<option value="TFA_LD">Lincoln Douglas</option>
					<option value="TFA_PF">Public Forum</option>
					</select>
				</label> 
				

			
			</div>

			

				<table id="divisions_table" class="large_table table table-striped">
				</table>
			
				<br />
				
			</div>
		</div>

		<div id="debug_container" class="main_container hidden span9 block">
				<div id="debug" class="subcontainer">
					<div id="debug_tournament_id"></div>
					<button class="btn btn-large" id="toggle_debug">Toggle debug</button><br />
					<h1>Pairing</h1>
					
					<button class="btn btn-large" id="pair_print_pairings">Print all pairings</button>

					<h1>LocalStorage </h1>
					<button class="save_button btn btn-large" id="save_state">Save state</button> <br />
					<button class="btn btn-large" id="clear_storage">Clear Storage</button>  <br />
				
					<h1>SMS</h1>
					
					Phone Number: <br /><input type="text" id="debug_sms_input_phone"/><br />
					Message: <br /> <textarea id="debug_sms_input_message"></textarea><br />
					<button class="btn btn-large" id="single_text">Send Single Text</button> <br /><br />

				</div>
		</div>
		
		<div id="settings_container" class="main_container hidden span9 block">
			<div id="setup" class="subcontainer">
				<div class="top_buttons">
					<div class="btn-group">
						<a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-download-alt"></i> Import / Export
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- dropdown menu links -->
							<li><a id="import_data"><i class="icon-download"></i> Import Tournament</a></li>
							<li><a id="export_data"><i class="icon-upload"></i> Backup Tournament</a> </li>
						</ul>
					</div>
				</div>

				<div id="import_data_dialog" class="dialog">
					<label>
					Import data type:
					<select id="import_type">
						<option value="native">DebateTab Backup</option>
						<option value="jot">JOT_Debate.txt</option>

					</select>
					</label>
					
					<textarea id="import_box"></textarea>
					<div class="alert alert-error message" id="import_message"></div>
				
				</div>
			</div>
		</div>
	
		
		
</div>

<div id="message_dialog" class="dialog">
	<div id="message_dialog_message"></div>
</div>
<div id="warnings_dialog" class="dialog">
	<div id="warnings_dialog_message"></div>
</div>

<div id="sms_confirm" class="dialog">
	<div id="sms_confirm_message"></div>
	Start time: <input type="text" id="text_pairings_start" />
</div>

<div id="ballot_css" style="display: none;">
body{
margin-left:5%;
margin-right:5%;
text-align: center;
}

#dTabLogo{
}

#ballotLabel{
	display:inline-block;
	font-weight:bold;
	
	
}

#roundNumber{
display:inline;
width:50px;
font-size:1.0em;
margin-right:60px;

}

#room{
display:inline;
width:50px;
font-size:1.0em;
margin-right:60px;
}

#flip{
display:inline;
font-size:1em;
font-weight:bold;
}

#judgeName{

float:right;
font-size:26px;
}



#instr{
height:1em;

}


#affPointsLabel{
margin-left:255px;
display:inline;
}
#affRanksLabel{
margin-left:0.7%;
display:inline;
}
#negPointsLabel{
margin-left:300px;
display:inline;
}
#negRanksLabel{
margin-left:0.7%;
display:inline;
}

#affPointsLabelLD{
margin-left:305px;
display:inline;
}
#negPointsLabelLD{
margin-left:333px;
display:inline;
}


#firstAff{
	display:inline;
	margin-right:50px;
}
#firstNeg{
	display:inline;
}

#secondAff{
	display:inline;
	margin-right:45px;
}
#secondNeg{
	display:inline;
}

#instr2{
	font-size:0.8em;
}

#instr3{
	font-weight:bold;
	text-decoration:underline;
}

#decision{
	display:block;
	text-align:center;
	margin-top:500px;

}

#circleOne{
	display:inline;
	margin-left:400px;


}

#tCodeLabel{
	display:inline;
	margin-left:145px;

}
#sigArea{
	display:inline;
	margin-right:250px;

}
#schoolAffiliation{
	display:inline;

}
#sigLabel{
	float:left;			
	width:130px;
	margin-right:360px;
}

#schoolAffLabel{
	/*using display:inline was causing probems with page break*/
	page-break-after:always;
	page-break-inside: avoid;
}

.pairing_container{
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	margin-bottom: 20px
}

td{
	padding: 5px 10px 0px 10px;

}
.flight_title{
	display: inline-block;
}

#pairing_division_name{
	font-size: 40px;
}

#pairing_round_number{
	font-size: 20px;
}

.table_header{
	font-weight: bold;
}

.result_letter{
	font-size: 16px
}

</div>
