/* ==|== primary styles =====================================================
   Author: Nick Carneiro
   ========================================================================== */

/*
Generic styles to be applied generally
*/
body {
	background: url('/images/bg.png');
}
.center {

	margin: 0px auto;
}

.table_container{
  height: 390px;
  overflow-y: scroll;
}
#edit_round_top_div select{
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  height: 30px;
}
.edit_round_dialog button{
  display: inline-block;
}

.edit_round_dialog select{
  margin: 10px;
}

.edit_round_dialog{
  text-align: center;
}
.edit_round_speaks{
  width: 50px;
  font-size: 16px;
  margin: 10px;
}

.edit_round_ranks{
  width: 30px;
  font-size: 16px;
}

.competitor_name {
  font-weight: bold;
}

.roundrow{
  cursor: pointer;
}

#edit_round_result{
  display: inline-block;
  width: 200px;
  font-size: 20px;
  height: 30px;
}

#edit_round_lpw{
  display: inline-block;
}

#lpw_label{
  display:inline-block;
}

#edit_round_error{
  margin-top: 10px;
  display: block;
  color: #8f0000;
  font-size: 16px;
}
.edit_round_team {
  font-size: 16px;
  display: inline-block;
  margin: 10px 25px 0px 25px;
  text-align: left;
}
#import_box {
  width: 600px;
  height: 200px;
}

#debug_tournament_id{
  font-size: 30px;
  margin: 10px;
}
#debug button{
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}
.block {
	background: #fff;
	box-shadow: #d5d5d5 0 5px 6px 0;
	margin-bottom: 10px;
}

.subcontainer{
	padding: 5px;
}
/*
specfic structure elements
*/
.maincontent{
	margin-top: 0px;
}

.header_image {
	display: block;
	width:300px;
	padding: 0px 15px 0px 15px;
	
}

label{
	display: block;
}

/*
styles for main menu
*/
.menu_container{
  text-align:center;
}
.menu {
  display: inline-block;
  width: 100%;
	font-size: 28px;
	list-style-type: none;
	text-align: left;
  margin: 0px auto;
}


#main_menu > div {
	width: 100%;
	margin: 6px 0px 6px 0px;
	text-align: left;
	opacity: .9;
  height: 30px;
  padding-top: 12px;
}


#main_menu > div:hover {
	cursor: pointer;
}

tr {
  padding: 5px;
}






.entered{
  background-color: #ddd;
}

/*
when a menu item li is selectedm its only class is menu_item_selected. When it is not selected, its class is just menu_item.
*/
.menu_item {
	background-color: #E8E8E8;
}

.menu_item:hover {
	background: #F8F8F8;
}

.menu_item_selected {
	background-color: #d8d8d8;
}



.large_table{
  width: 100%;
}
td{
	padding: 5px;
}

ul {
	list-style: none;
}

.top_buttons{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px; 
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
  width: 100%; 
}

.top_buttons > button{
   display: inline-block;
  height: 30px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  width: 150px;
}


.bottom_buttons{
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
}

.bottom_buttons button{
  display: inline-block;
  height: 30px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
  width: 150px;
}

#room_form > label{
  display: inline-block;
  margin-left: 10px;
}



/*
God dammit, Paul Irish.
*/
::selection {
  background: #ced4ff; /* Safari */
  }
::-moz-selection {
  background: #ced4ff; /* Firefox */
}

input.division_list{
  display:inline-block;
}

.btn-group {
  display: inline-block;

}

.btn-group a{
  font-size: 20px;
  height: 24px;
}

